:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
  --yellow: hsl(47, 88%, 63%);

}

@font-face {
  font-family: "Figtree";
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

html {
  font-size: 62.5%;
  /*10px = 1rem*/
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Figtree";
  font-size: 16px;
  /*10px = 1rem*/
  background-color: var(--yellow);
  display: flex;
}

p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombra {
  -webkit-box-shadow: 6px 6px 0px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 0px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 0px 1px rgba(0, 0, 0, 0.75);
}

.target {
  width: 90%;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1.5rem;
  border: solid 1px var(--Black);
}

@media (min-width: 480px) {
  .target {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .target {
    width: 50%;
  }
}

.target:hover {
  -webkit-box-shadow: 10px 10px 0px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 0px 1px rgba(0, 0, 0, 0.75);
}

.target__img {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.target__info__botton {
  margin-bottom: 3rem;
}

.botton {
  background-color: var(--yellow);
  display: inline;
  font-weight: 900;
  font-size: 1.4rem;
  padding: .5rem 1rem;
  border-radius: .4rem;
}

.target__main__titulo h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

.target__main__titulo:hover {
  color: var(--yellow);
}

.target__main__info {
  color: var(--grey);
}

.target__main__user {
  display: flex;
  gap: 3rem;
}

.target__main__user__name p {
  padding-top: .6rem;
  font-weight: 900;
  margin: 0;
}

.target__main__user__icon {
  margin: 0;
}
